// Variables
$primary-color: rgb(1, 1, 1);
$banner-bg-color: rgb(196, 163, 144);
$white-color: white;
$banner-text-color: white;
$button-hover-bg: #e0e0e0;
$button-hover-color: #333;
$parallax-overlay-color: rgba(0, 0, 0, 0.5);

.banner {
  background-color: $banner-bg-color;
  text-align: center;
  padding: 1rem 0;

  &-text {
    color: $banner-text-color;
    font-size: 0.813rem;
    font-weight: bold;
    margin: 0;
  }
}

.container {
  display: flex;
  flex-direction: column;
}

nav {
  width: 50%;
  top: 0;
  left: 0;
  height: 100%;
  position: absolute;
  background-color: $white-color;
  z-index: 5;
  visibility: hidden;
  transition: .3s ease-in-out;

  &.active {
    visibility: visible;
  }
}

li {
  font-size: 1rem;
  padding: 0.938rem 1.25rem;
}

a {
  color: $primary-color;

  &:hover {
    color: #050505;
  }
}

.titre-top,
.icons a {
  color: $primary-color;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#burger, #close {
  cursor: pointer;
}

#close {
  position: absolute;
  right: 20px;
  top: 20px;
  color: $white-color;
  transform: scale(2);
  width: 18px;
  height: 18px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

header {
  background-color: $white-color;
  height: 45%;

  .top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 5% auto;

    input {
      width: 60%;
      height: 40px;
      border-radius: 25px;
      opacity: 0;
      transition: .1s;
      border: none;

      &.active {
        opacity: 1;
      }
    }
  }
}

.parallax-section {
  background-image: url('../images/img-bgc1.png'); // Remplacez par le chemin de votre image de fond
  background-attachment: fixed; // Essentiel pour l'effet parallaxe
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 400px; // Ajustez selon vos besoins

  // Overlay pour améliorer la lisibilité du texte
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $parallax-overlay-color;
    z-index: 1;
  }

  .parallax-content {
    position: relative;
    z-index: 2; // S'assurer que le contenu est au-dessus de l'overlay
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: $white-color;

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }

    .button-link {
      display: inline-block;
      background-color: $white-color;
      color: $primary-color;
      padding: 0.75rem 1.5rem;
      border-radius: 25px;
      text-decoration: none;
      font-weight: bold;
      transition: all 0.3s ease;

      &:hover {
        background-color: $button-hover-bg;
        color: $button-hover-color;
      }
    }
  }
}

// Media queries
@media (min-width: 1024px) {
  .burger-menu {
    display: none; // Cacher le menu burger en desktop
  }

  .desktop-menu {
    display: block; // Afficher le menu desktop
  }
}

@media screen and (max-width: 768px) {
  .parallax-content {
    padding: 10px;
    h2 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
  }
}
