<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Nailbox</title>
    <link rel="stylesheet" href="css/contact.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<%- include('partials/header') %>
 <section class="section reversed" aria-label="Informations sur NailsBox">
  <img src="./images/contactphoto.jpg" alt="Description Image Gauche">
  <div class="text">
    <h1>Qui sommes-nous ?</h1>
    <p>Bienvenue chez NailsBox, votre destination incontournable pour une manucure parfaite à domicile. Fondée par des passionnés de beauté et d'innovation, NailsBox se consacre à apporter une touche de glamour et de sophistication à votre quotidien.</p>
  </div>
</section>

 <section class="section reversed" aria-label="Informations sur NailsBox">
  <img src="./images/img3.jpg" alt="Description Image Droite">
  <div class="text">
    <h2>Les engagements NailsBox</h2>
    <ul style="list-style: none;">

      <li>Chez NailsBox, nous croyons que chaque personne mérite de se sentir belle et confiante, sans avoir à sacrifier son temps précieux.</li>
      <li> Notre mission est de fournir des solutions de manucure rapides, accessibles et de haute qualité qui s'adaptent à votre style de vie dynamique.</li>
    </ul>
  </div>
</section>

<section class="form-container" aria-label="Formulaire de contact">
  <div class="form-header">
    <h2>Vous avez une question ?</h2>
    <p>Nous sommes ravis de pouvoir répondre.</p>
  </div>
  <form action="/contact" method="POST">
    <input type="text" id="name" name="name" placeholder="Écrivez votre Nom">
    <input type="email" id="email" name="email" placeholder="Email">
    <textarea id="message" name="message" placeholder="Écrivez un message"></textarea>
    <a href class="submit">ENVOYER</a>
  </form>
</section>
<%- include('partials/footer') %>

<script src="./js/abonnement.js" defer></script>

</body>
</html>
