<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tableau de bord</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    
    <div id="sidebar">
        <button id="clientsBtn">Clients</button>
        <button id="ordersBtn">Commandes</button>
        <button id="productsListBtn">Produits</button>
        <button id="addProductBtn">Ajouter un produit</button>
        <button id="subscriptionsBtn">Liste abonnements</button>
        <button id="createSubscriptionBtn">Créer un abonnement</button>


        

        <a href="/dashboard/deconnexion" id="deconnexion" class="button">Déconnexion</a>
    </div>

    <div id="content">
    </div>

    <script src="./js/dashboard.js"></script>
</body>
</html>
