<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Nailbox</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<%- include('partials/header') %>
    <main>
    <section class="image-section"aria-label="Caractéristiques du produit">
        <div class="image-container">
            <img src="../images/product-3.jpg" alt="Nailsbox">
            <p>Produits de Qualité</p>
        </div>
        <div class="image-container">
            <img src="../images/icons-2.png" alt="Nailsbox">
            <p>Surprise tous les mois</p>
        </div>
        <div class="image-container">
            <img src="../images/icons-1.png" alt="Nailsbox">
            <p>Livraison offerte</p>
        </div>
    </section>
    <section class="section-container2">
        <div class="text-container2">
            <h3>Qu’y a-t-il dans votre coffret?</h3>
            <p>Nails Box est un coffret où vous pouvez découvrir des jeux de faux ongles tendance et de haute qualité, accompagnés de gels pad, des outils de préparation et des instructions détaillées pour une manucure professionnelle à domicile.</p>
            <p>Des bonus surprises viennent également agrémenter chaque coffret pour une expérience des plus agréable.</p>
            <p>Nos produits sont soigneusement sélectionnés pour vous offrir une qualité supérieure et une variété de styles pour tous les goûts. </p>
            <a href="/abonnement" class="button-link">S'abonner</a>
        </div>
        <div class="image-container2">
            <img src="../images/img2.jpg" alt="Nailbox">
        </div>
    </section>
    <section class="section-container3">
        <div class="title">
            <h3>Découvrez votre formule NailsBox </h3>
        </div>
        <div class="spacer"></div>
        <div class="description">
            <p>Choisissez l'abonnement NailsBox qui correspond à votre style !</p>
        </div>
        <div class="spacer"></div>
        <div class="card-container">
            <div class="card">
                <h4>Small box</h4>
                <img src="../images/img3.jpg" alt="Image 1">
                <p>19,90 €</p>
                <ul>
                    <li>✓ Recevez 1 coffret mensuel</li>
                    <li>✓ Obtenez des cadeau bonus surprise avec votre box</li>
                </ul>
            </div>
            <div class="card">
                <h4>Medium box</h4>
                <img src="../images/img4.jpg" alt="Image 2">
                <p>29,90 €</p>
                <ul>
                    <li>✓ Recevez 2 coffrets mensuel(coffrets: mains et pieds)</li>
                    <li>✓ Obtenez des cadeau bonus surprise avec votre box</li>
                </ul>
            </div>
            <div class="card">
                <h4>Large box</h4>
                <img src="../images/img5.jpg" alt="Image 3">
                <p>49,90 €</p>
                <ul>
                    <li>✓ Recevez 1 coffret DIY</li>
                    <li>✓ Obtenez des cadeau bonus surprise avec votre box</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="testimonial-section"aria-label="Témoignages des clients">
        <h2>Témoignages de nos clients</h2>
        <h2>Commentez NailsBox a transformé ma routine beauté des ongles !</h2>
        <div class="testimonial-container">
            <div class="testimonial active">
                <img src="../images/femme.jpg" alt="Client 1">
                <h2>Cathia</h2>
                <p>"Je suis tellement heureuse d'avoir découvert NailsBox ! C'est difficile de trouver le temps de me rendre dans un salon de manucure pour obtenir des ongles parfaits. Mais avec NailsBox, j'ai trouvé la solution idéale."</p>
            </div>
            <div class="testimonial">
                <img src="../images/femme2.jpg" alt="Client 2">
                <h2>Nina</h2>
                <p>"Les ongles pressés de NailsBox sont incroyables. J'ai été impressionné par la variété des designs et des couleurs disponibles. Chaque mois, je suis surpris et excité de découvrir les nouvelles créations qui arrivent dans ma box !"</p>
            </div>
            <div class="testimonial">
                <img src="../images/femme3.jpg" alt="Client 3">
                <h2>Laila</h2>
                <p>"Je n'ai plus à m'inquiéter de prendre rendez-vous ou de me déplacer pour obtenir des ongles magnifiques. J'ai reçu de nombreux compliments et personne ne peut croire qu'ils ne sont pas faits en salon."</p>
            </div>
        </div>
    </section>
    <section class="section-container2">
        <div class="image-container2">
            <img src="../images/equipe.png" alt="Image">
        </div>
        <div class="text-container2">
            <h3>Concretement NailsBox c'est quoi ?</h3>
            <p>Nous travailllons avec des designers de renom ou des artistes spécialisés dans le nail art pour créer des designs exclusifs pour votre box. Ces designs uniques sont limités dans le temps. Decouvrez chaque mois un nouveau thème.</p>
            <p>Pour les amateurs de nail art qui aiment créer leurs propres designs, nous avons une box spéciale DIY. Cette box inclut des outils et des accessoires de nail art . Laissez donc libre cours à votre créativité. .</p>
            <a href="/abonnement"class="button-link">Comment recevoir ma box ?</a>
        </div>
    </section>
<section class="parallax-section2">
    <div class="parallax-content2">
        <h2>Titre de la Section</h2>
        <p>Texte de la section parallax avec décalage vers la gauche.</p>
        <a href="/abonnement"class="button-link">En savoir plus</a>
    </div>
</section>
</main>
<%- include('partials/footer') %>

<script src="./js/script-index.js" defer></script>
</body>
</html>