<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Politique de confidentialite</title>
</head>
<body>
        <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f5f2ec; 
            color: #333; 
            margin: 0;
            padding: 20px;
        }

        h1 {
            color: #8a6d3b; 
            text-align: center;
        }

        p {
            line-height: 1.6; 
            margin-bottom: 20px;
        }

        p strong {
            color: #8a6d3b; 
            font-size: larger; 
        }
        .btn-retour {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #8a6d3b; 
            color: #fff; 
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            transition: background-color 0.3s ease;
        }

        .btn-retour:hover {
            background-color: #a2835b; 
        }
    </style>
        <h1>Politique de confidentialite</h1>
        <p>Politique et Termes et Conditions de NailsBox Conditions générales de vente - Nailsbox</p>
        <p>Article 1 - Informations sur l'entreprise Raison sociale : NailsBox</p>
        <p>Nom du dirigeant : Alfonsi Melissa</p>
        <p>Numéro SIRET : 88229130500010</p>
        <p>Statut juridique : Entreprise individuelle</p>
        <p>Numéro de TVA : FR07882291305</p>
        <p>Adresse : 5 rue de la grenouillère, 49440 Cande</p>
        <p>Article 2 - Objet Les présentes conditions générales de vente régissent les relations contractuelles entre Nailsbox et ses clients dans le cadre de la vente de produits et/ou de prestations de services.</p>
        <p>Article 3 - Prix Les prix des produits et/ou services proposés par Nailsbox sont indiqués en euros et sont ceux en vigueur au moment de la commande. Ils sont soumis à la TVA applicable et à d'autres taxes éventuelles.</p>
        <p>Article 4 - Commande Toute commande passée auprès de Nailsbox est considérée comme ferme et définitive après confirmation de celle-ci. Nailsbox se réserve le droit de refuser ou d'annuler toute commande en cas de non-respect des présentes CGV, d'indisponibilité des produits et/ou services, ou pour toute autre raison légitime.</p>
        <p>Article 5 - Livraison Les délais de livraison sont donnés à titre indicatif et ne sont pas garantis. Nailsbox ne pourra être tenu responsable des retards éventuels dans la livraison. Les frais de livraison seront précisés lors de la commande.</p>
        <p>Article 6 - Paiement Le paiement des produits et/ou services s'effectue au moment de la commande. Les modes de paiement acceptés seront précisés lors de la commande.</p>
        <p>Article 7 - Droit de rétractation Conformément à la législation en vigueur, le client dispose d'un délai de rétractation de 14 jours à compter de la réception des produits pour exercer son droit de rétractation. Pour les prestations de services, le droit de rétractation ne s'applique pas si la prestation a été entièrement exécutée avec l'accord du client avant la fin du délai de rétractation.</p>
        <p>Article 8 - Responsabilité Nailsbox décline toute responsabilité en cas de dommages directs ou indirects causés par l'utilisation des produits et/ou services vendus.
        </p>
        <p>Article 9 - Propriété intellectuelle Tous les droits de propriété intellectuelle relatifs aux produits et/ou services vendus par Nailsbox restent la propriété exclusive de l'entreprise.</p>
        <p>Article 10 - Confidentialité Les informations personnelles collectées dans le cadre des commandes sont utilisées uniquement à des fins de traitement et de livraison de la commande. Elles ne seront pas divulguées à des tiers sans le consentement du client, sauf si requis par la loi.</p>
        <p>Article 11 - Litiges En cas de litige, les parties s'efforceront de régler le différend à l'amiable. À défaut d'accord amiable, le litige sera soumis aux tribunaux compétents conformément à la législation en vigueur.</p>
        <p>Article 12 - Modification des CGV Nailsbox se réserve le droit de modifier les présentes conditions générales de vente à tout moment. Les nouvelles conditions générales de vente seront applicables aux commandes passées après leur mise en ligne sur le site.</p>
        <p>Fait à Candé, le 20/07/2023</p>
        <p>ALFONSI </p>
            <a href="/" class="btn-retour">Retour à la page d'accueil</a>

    </body>
</html>