*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    text-decoration:none;
    list-style:none;
}
body {
    display: block;
    margin: 0;
}
.cards-section {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}

.card {
    background: #E7CCBD; 
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 10px; 
}

.card-title {
    color: #000; 
    font-size: 24px; 
    margin-bottom: 20px; 
    font-weight: bold;
}

.card-image {
    width: 100%; 
    height: auto; 
    margin-bottom: 20px; 
}

.card-price {
    color: #000; 
    font-size: 24px; 
    margin-bottom: 20px; 
}

.card-list {
    list-style: none; 
    padding: 0; 
    margin-bottom: 20px; 
    text-align: left; 
}

.card-list li {
    margin-bottom: 10px; 
    font-size: 16px; 
}

.card-button {
    background-color: #C9A692; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s;
    border-radius: 5px; 
    font-size: 18px; 
    margin-top: 10px; 
}

.card-button:hover {
    background-color: #AE7D6A; 
}

  .title {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px 0;
  }

  .container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    padding: 20px;
  }

  .step {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 20px; 
  }

  .step img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
  }

  .step:last-child img {
    width: 150px;
  }

  .step-text {
    font-size: 14px; 
  }

.testimonials-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7; 
}

.testimonial {
    flex: 0 1 30%; 
    margin: 10px;
    text-align: center;
}

.testimonial h3 {
    color: #555;
    font-size: 1.2em;
}

.testimonial p {
    font-size: 0.9em;
    line-height: 1.5;
    color: #666;
}

.testimonial .author {
    font-weight: bold;
    color: #333;
}

.stars {
    color: #f8ce0b; 
    font-size: 1.5em;
}
.faq-container {
    width: 100%;
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.faq-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px; 
    color: #333; 
}

.faq {
    background-color: #f5f5dc; 
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 4px;
}

.faq-question {
    padding: 20px;
    cursor: pointer;
    position: relative;
    color: #333; 
    border-bottom: 1px solid #ddd; 
}

.faq-question:hover {
    background-color: #eaeaea; 
}

.faq-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px; 
    color: #333; 
}

.faq-answer {
    display: none;
    padding: 20px;
    color: #666; 
    line-height: 1.6; 
}

.features-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.feature-item {
    flex: 1;
}

.feature-item img {
    width: 64px; 
    height: auto;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 14px;
    color: #333;
}

.video-container {
    border: 2px solid beige;
    background: linear-gradient(beige, #f5f5dc); 
    padding: 20px; 
    margin: 20px 0; 
    text-align: center;
    max-width: 560px;
    margin-left: auto; 
    margin-right: auto;
}

.video-container iframe {
    width: 100%; 
    height: 315px; 
}



@media (max-width: 768px) {
    .cards-section {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%; 
        margin-bottom: 20px;
    }

    .container,
    .features-container,
    .testimonials-container {
        flex-direction: column;
        align-items: center;
    }

    .testimonial, .feature-item {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .cards-section {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%; 
        margin-bottom: 20px;
    }

    .container,
    .features-container,
    .testimonials-container {
        flex-direction: column;
        align-items: center;
    }

    .step, .testimonial, .feature-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .faq-title, .faq-question, .faq-answer {
        padding-left: 15px;
        padding-right: 15px;
    }
}

