*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    text-decoration:none;
    list-style:none;
}
body {
    display: block;
    margin: 0;
}

.image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 0 10px; 
    
}


.image-container {
    text-align: center;
    flex: 1; 
    margin-top: 30px;
}


.image-container img {
    margin-top: 10px;
    width: 50px; 
    height: 50px;
    object-fit: cover;
}


.image-container p {
    margin-top: 10px; 
    font-size:18px;
}

/* Abonnement */
.nails-intro-section {
    
   
text-align: center; 
    padding: 20px; 
    margin-bottom: 30px; 
}

.nails-intro-section h1 {
    font-size: 32px; 
    color: #000; 
    margin-bottom: 10px; 
}

.nails-intro-section p {
    font-size: 18px; 
    color: #555;
}
.nails-cards-section {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}

.nails-card {
    background: #E7CCBD;
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.nails-card-title {
    color: #000;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
}

.nails-card-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.nails-card-price {
    color: #000;
    font-size: 24px;
    margin-bottom: 20px;
}

.nails-card-list {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    text-align: left;
}

.nails-card-list li {
    margin-bottom: 10px;
    font-size: 16px;
}

.nails-card-button {
    background-color: #C9A692;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 10px;
}

.nails-card-button:hover {
    background-color: #AE7D6A;
}


/* Styles pour la section CARTES*/

.section-container3 {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.title h3 {
    font-size: 24px;
    text-align:center;
}


.spacer {
    height: 20px;
}


.description p {
    font-size: 16px;
    text-align: center;
}


.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.card {
    background: rgb(231, 204, 189);
    flex: 0 0 calc(33.33% - 20px); 
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    overflow: hidden;
    transition: transform 0.3s ease; 
}

.card:hover {
    transform: scale(1.05); 
}


.card h4 {
    font-size: 20px;
    margin-top: 20px;
}

.card img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border: 0;
    max-width: 100%;
}

.card p {
    font-size: 18px;
    margin-top: 10px;
}

.card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card ul li {
    font-size: 14px;
    margin: 5px;
    padding: 2px;
}

.card button {
    background-color: rgb(201, 166, 146);
    color: #ffffff;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.parallax-section2 {
    background-image: url('../images/img-bgc1.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 80vh; 

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parallax-section2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.parallax-content2 {
    text-align: left; 
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin-right: 30%;
}

.parallax-content2 h2, .parallax-content2 p {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.button-link {
    display: inline-block;
    background-color: #f2f2f2;
    color: #000;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.button-link:hover {
    background-color: #e0e0e0;
    color: #333;
}












@media (max-width: 768px) {
    .nails-cards-section {
        flex-direction: column;
        align-items: center;
    }

    .nails-card {
        width: 80%; 
        margin-bottom: 20px;
    }

    .card-container {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .card {
        flex: 0 0 45%;
    }
}

@media (max-width: 480px) {
    .card {
        flex: 0 0 90%; 
    }
}
