* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    list-style: none;
}

body {
    display: block;
    margin: 0;
}


/*section dessous parallax*/
.image-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 0 10px; 
    
}


.image-container {
    text-align: center;
    flex: 1; 
    margin-top: 30px;
}


.image-container img {
    margin-top: 10px;
    width: 50px; 
    height: 50px;
    object-fit: cover;
}


.image-container p {
    margin-top: 10px; 
    font-size:18px;
}


.section-container2 {
    display: flex;
    background-color: rgb(201, 166, 146); 
    margin-top: 50px;
    margin-bottom: 50px;
}


.text-container2 {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.text-container2 h3{
    font-size: 20px;
    padding: 10px;
}
.text-container2 p {
    font-size: 14px;
    padding: 10px;
}



.image-container2 {
    flex: 1;
    position: relative;
    background-color: rgb(201, 166, 146);
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    padding: 0px 10px 0px 10px; 
}

.image-container2 img {
    width: 80%; 
    max-height: 80%; 
    margin-top: 20px; 
    margin-left: 20px; 
}




/* Styles pour la section CARTES*/

.section-container3 {
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.title h3 {
    font-size: 24px;
    text-align:center;
}


.spacer {
    height: 20px;
}


.description p {
    font-size: 16px;
    text-align: center;
}


.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.card {
    background: rgb(231, 204, 189);
    flex: 0 0 calc(33.33% - 20px); 
    border: 1px solid #ddd;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    overflow: hidden;
    transition: transform 0.3s ease; 
}

.card:hover {
    transform: scale(1.05); 
}


.card h4 {
    font-size: 20px;
    margin-top: 20px;
}

.card img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border: 0;
    max-width: 100%;
}

.card p {
    font-size: 18px;
    margin-top: 10px;
}

.card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card ul li {
    font-size: 14px;
    margin: 5px;
    padding: 2px;
}



/* Styles pour le conteneur de la section testimoniale*/
.testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(201,166,146,0.44);
    padding: 100px 0;
    margin-bottom: 50px;
    margin-top: 50px;
   
}


.testimonial {
    display: none; 
    border-radius: 50%; 
    min-height: 300px; 
}

.testimonial img {
    margin: 20px;
    border-radius: 70%; 
    max-width: 250px; 
    width: 50% !important;
    height: 50% !important;
}


.testimonial h2, .testimonial p {
    margin: 10px 0;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 20px;
}


.testimonial-container {
    display: flex;
    justify-content: center;
    overflow: hidden; 
}


.testimonial.active {
    display: block; 
}

/* Styles pour la section de parallax parallax2*/
.parallax-section2 {
    background-image: url('../images/img-bgc1.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 80vh; 

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.parallax-section2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
}

.parallax-content2 {
    text-align: left; 
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin-right: 30%;
}

.parallax-content2 h2, .parallax-content2 p {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}



.footer {
    background-color: rgba(201, 166, 146, 0.44);
    padding: 20px;
    text-align: center;
    color: #000; 
    height: 250px; 
    margin-bottom: 0;
    margin-top: 50px;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

.footer-links ul,
.legal-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li,
.legal-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links a,
.legal-links a {
    color: #000; 
    text-decoration: none;
    font-weight: bold;
}

.footer-links a:hover,
.legal-links a:hover {
    text-decoration: underline;
}

.copyright {
    margin-top: 20px;
    font-size: 14px;
    color: #000; 
    margin-top: 10px; 
}













/* Styles pour le responsive */
@media screen and (max-width: 768px) {
    .image-section {
        flex-direction: column; 
        align-items: center;
       
    } 

    .image-container img {
       
        height: 50%;
        object-fit: cover;

    }
    .section-container2 {
        flex-direction: column;
        align-items: center;
        text-align: center; 
        margin-bottom: 20px;
    }

    .text-container2 {
        padding: 20px;
    }

    .image-container2 {
        margin-top: 20px;
        text-align: center;
    }
    .image-container2 img {
        margin-left: auto; 
        margin-right: auto; 
        display: block; 
        margin-bottom: 20px;
      
    }
    .card-container {
        flex-direction: column; 
        align-items: center; 
        height: auto; 
        margin-bottom: 20px; 
        overflow: hidden;
        flex-direction: column;
    }
    .card {
        margin-right: 0; 
        margin-bottom: 20px; 
        width: 80%; 
        max-width: 300px;
    }
    .card img {
        width: 100%; 
        height: 200px;
        object-fit: cover;
    }
}
